.container {
  /* Colors */
  --nav--light--backgroundColor: var(--global--secondary--Color);
  --nav--horizontal--padding: var(--global--spacer--lg);

  display: grid;
  padding: 0 var(--nav--horizontal--padding);
  grid-template-columns: repeat(2, auto) 1fr;
  column-gap: var(--nav--horizontal--padding);
  max-height: 3rem;
  height: 3rem;
  background-color: var(--nav--light--backgroundColor);
}
