.base {
  --layout-padding: var(--global--spacer--xl);

  display: grid;
  grid-template-areas: "header header" "sidebar main";
  min-height: 100vh;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 10rem 1fr;
}

header {
  grid-area: header;
}
aside {
  grid-area: sidebar;
}
main {
  grid-area: main;
  padding: var(--layout-padding);
}
