@font-face {
  font-family: "UbuntuMono";
  src: url(./assets/fonts/UbuntuMono-Regular.ttf) format("ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "UbuntuMono", sans-serif;
}
